<h1>PrimalTV</h1>
<p>Testing PrimalTV</p>

  <div>
    <% @videos.each do |f| %>
      <%= f.title %>
        <br>
    <a href="<%= f.videourl %>">
      <%= image_tag f.thumbnail, class:"videothumbnails"%>
    </a>
        <br>
    <% end %>
  </div>
