<%= render partial: "home/test2" %>




<% if false %>


<div class="container">
  <h1>PrimalTV</h1>

    <div>
      <% @videos.each do |f| %>
        <%= f.title %>
          <br>
        <a href="<%= f.videourl %>">
          <%= image_tag f.thumbnail, class:"videothumbnails"%>
        </a>
          <br>
        <% end %>
    </div>

</div><!-- Container Div -->


<% end %>
