<div class="bg">

  <div class="container">
    <h1> Welcome to PrimalTV </h1>
    <h3> Sign Up Now! </h3>
    <%= link_to "Click Me!!", new_user_registration_path, :class => 'navbar-link btn btn-primary'  %>
  </div>
<br><br><br>
</div>
