/*
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.form h2, label, a, i, h3, p,{
  color:#13a563;
}
.videothumbnails{
  width: 10em;
}

.videosize{
width: 40em;
padding: 1em;
}

a {
  text-decoration: none;
}


body{
  // background-color: #F9F9F9;
  background-color: #323232;
  font-family: 'Lato', sans-serif;
}

.logo{
  width: 15em;
}

.thumb{
  padding-top: 1em;
}

.videocontainer{
  margin: 10px 10px 10px 10px;
  // margin-left: 10px;
}

.alert{
  max-width: 81.5em;
  margin-left: 5em;
}
